{% macro page(data, url) -%}
{% if data %}

<ul class="pagination pagination-small center" style="text-align: center;vertical-align:middle";>
    <li style="text-align: center;height:45px"><a style="line-height:45px;" href="{{ url_for(url, page=1) }}">首页</a></li>

    {% if data.has_prev %}
    <li class="active" style="text-align: center;height:45px"><a style="line-height:45px;" href="{{ url_for(url, page=data.prev_num) }}">
        <
    </a></li>
    {% else %}
    <li style="text-align: center;height:45px" class="disabled"><a style="line-height:45px;" href="#">
        <
    </a></li>
    {% endif %}

    {% for v in data.iter_pages() %}
        {% if v == data.page %}
        <li class="active" style="text-align: center;height:45px"><a style="line-height:45px;">{{ v }}</a></li>
        {% else %}
        <li style="text-align: center;height:45px"><a style="line-height:45px;" href="{{ url_for(url, page=v) }}">{{ v }}</a></li>
        {% endif %}
    {% endfor %}

    {% if data.has_next %}
        <li class="active" style="text-align: center;height:45px"><a style="line-height:45px;" href="{{ url_for(url, page=data.next_num) }}">
            >
        </a></li>
    {% else %}
        <li class="disabled" style="text-align: center;height:45px"><a style="line-height:45px;" href="#">
            >
        </a></li>
    {% endif %}

    <li style="text-align: center;height:45px"><a style="line-height:45px;" href="{{ url_for(url, page=data.pages) }}">尾页</a></li>
</ul>
{% endif %}
{%- endmacro %}