<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="0d912f1b161846fa9077c993ba926c91" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_0d912f1b161846fa9077c993ba926c91 = echarts.init(
            document.getElementById('0d912f1b161846fa9077c993ba926c91'), 'white', {renderer: 'canvas'});
        var option_0d912f1b161846fa9077c993ba926c91 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "Sam S Club",
                    "value": 10000
                },
                {
                    "name": "Macys",
                    "value": 6181
                },
                {
                    "name": "Amy Schumer",
                    "value": 4386
                },
                {
                    "name": "Jurassic World",
                    "value": 4055
                },
                {
                    "name": "Charter Communications",
                    "value": 2467
                },
                {
                    "name": "Chick Fil A",
                    "value": 2244
                },
                {
                    "name": "Planet Fitness",
                    "value": 1898
                },
                {
                    "name": "Pitch Perfect",
                    "value": 1484
                },
                {
                    "name": "Express",
                    "value": 1112
                },
                {
                    "name": "Home",
                    "value": 965
                },
                {
                    "name": "Johnny Depp",
                    "value": 847
                },
                {
                    "name": "Lena Dunham",
                    "value": 582
                },
                {
                    "name": "Lewis Hamilton",
                    "value": 555
                },
                {
                    "name": "KXAN",
                    "value": 550
                },
                {
                    "name": "Mary Ellen Mark",
                    "value": 462
                },
                {
                    "name": "Farrah Abraham",
                    "value": 366
                },
                {
                    "name": "Rita Ora",
                    "value": 360
                },
                {
                    "name": "Serena Williams",
                    "value": 282
                },
                {
                    "name": "NCAA baseball tournament",
                    "value": 273
                },
                {
                    "name": "Point Break",
                    "value": 265
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Sam S Club",
                "Macys",
                "Amy Schumer",
                "Jurassic World",
                "Charter Communications",
                "Chick Fil A",
                "Planet Fitness",
                "Pitch Perfect",
                "Express",
                "Home",
                "Johnny Depp",
                "Lena Dunham",
                "Lewis Hamilton",
                "KXAN",
                "Mary Ellen Mark",
                "Farrah Abraham",
                "Rita Ora",
                "Serena Williams",
                "NCAA baseball tournament",
                "Point Break"
            ],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "Pie-\u57fa\u672c\u793a\u4f8b"
        }
    ]
};
        chart_0d912f1b161846fa9077c993ba926c91.setOption(option_0d912f1b161846fa9077c993ba926c91);
    </script>
</body>
</html>
